.container

  .row
    %br
    %div{class: "span16 columns"}
      .scroll
        %table{:id => 'position-table', :class => "tablesorter draggable zebra-striped"}
          %thead
            %tr
              %th E. coli Position 1
              %th E. coli Position 2
              %th E. coli Family
              %th E. coli Sequence
              %th T. thermus Position 1
              %th T. thermus Position 2
              %th T. thermus Family
              %th T. thermus Sequence
          %tbody
            - @data.each_with_index do |point, index|
              - ec_nts = point['positions'].map { |p| '2AW7_1_A_' + p }.join(',')
              - tt_nts = point['aligned_to']['positions'].map { |p| '1J5E_1_A' + p }.join(',')
              %tr{id: index.to_s, class: 'load_analysis_image', ec: ec_nts, tt: tt_nts }
                %td{:id => index.to_s + '-epos1'}= point['positions'][0]
                %td{:id => index.to_s + '-epos2'}= point['positions'][1]
                %td{:id => index.to_s + '-efamily'}
                  %a{:href => $base_url + "family/#{point['family']}"}= point['family']
                %td{:id => index.to_s + '-eseq'}= point['sequence']
                %td{:id => index.to_s + '-tpos1'}= point['aligned_to']['positions'][0]
                %td{:id => index.to_s + '-tpos2'}= point['aligned_to']['positions'][1]
                %td{:id => index.to_s + '-tfamily'}
                  %a{:href => $base_url + "family/#{point['aligned_to']['family']}"}
                    = point['aligned_to']['family']
                %td{:id => index.to_s + '-tseq'}= point['aligned_to']['sequence']

    .row
      %br
      %div{class: 'span16 columns'}
        %ul{class: 'tabs'}
          %li{class: 'active'}
            %a{href: '#'} Interaction
          %li
            %a{href: '#'} Summary

    .row
      %br
      %div{class: "span16 columns"}
        .image
          %div{class: "span5 columns"}
            %img{id: "analysis_image"}
        .viewer
          %div{class: 'span5 columns'}
            %div{id: 'jmoldiv', class: 'jmol'}
              %script{type: 'text/javascript'}
                jmolInitialize(" ./jmol");
                jmolSetAppletColor("#ffffff");
                jmolApplet(350);

        %div{class: "span3 columns"}
          .controls
            %form
              %fieldset
                %legend Table Controls
                .clearfix
                  %label{:for => 'position-search'} Select
                  .input
                    %input{type: "text", class: 'mini', name: "position-search",
                      id: "position-search"}

            %form
              %fieldset
                %legend JMol Controls
                .clearfix
                  %label{id: 'structure-list'} Structures
                  .input
                    %ul{class: 'inputs-list'}
                      %li
                        %label
                          %input{type: 'checkbox', id: 'ec-box', name: 'ec', value: 'ec'}
                          %span E. coli
                      %li
                        %label
                          %input{type: 'checkbox', id: 'tt-box', name: 'tt', value: 'tt'}
                          %span T. thermus
                      %li
                        %input{type: 'checkbox', class: 'display-nt previous-ec', hidden: true}
                        %input{type: 'checkbox', class: 'display-nt current-ec', hidden: true}
                        %input{type: 'checkbox', class: 'display-nt previous-tt', hidden: true}
                        %input{type: 'checkbox', class: 'display-nt current-tt', hidden: true}
                .clearfix
                  .input
                    %input{type: 'button', id: 'neighborhood', name: 'neighborhood',
                      class: 'btn', value: 'Show Neighborhood'}
